@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



/* -------------------- APP --------------------*/

.App {
  width: 100%;
}



/* -------------------- CONTACT --------------------*/


.content-contact{
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 31, 30);
  color: antiquewhite;
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  
}

.contact-title {
  margin-top: 0;
  margin-left: 0.5em;
}

.content-contact a {
  text-decoration: none;
  color: rgb(130, 180, 196)
}

.content-contact a:hover {
  text-decoration: none;
  color: rgb(202, 213, 216)
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-size: 0.4em;
  margin-top: 15%;
}

.contact-school{
  text-align: center;
}

.contact-school > ul li {
  list-style-type:none;
}

.contact-author {
  text-align: center;
}

.contact-author > ul li{
  list-style-type:none;
}


/* -------------------- ARTIST --------------------*/

@media screen and (max-width: 767px) {
  .figure-laugh > .img-laugh {
    width: 100%;
  }

  .figure-dream > .img-dream {
    width: 100%;
  } 

  .figure-marvel > .img-marvel {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .figure-laugh > .img-laugh {
    width: 50%;
  }
  
  .figure-dream > .img-dream {
    width: 50%;
  } 
  
  .figure-marvel > .img-marvel {
    width: 50%;
  }
}

.artist {
  width: 100%;
  background-color: rgb(30, 31, 30);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: antiquewhite;   
}

.artist-title {
  font-family: 'Bebas Neue', cursive;
  text-align: left;
  margin-left: 0.2em;
  font-size: 3em;
}

.artist-card {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.artist-card > ul li {
  list-style-type:none;
}



/* -------------------- HOME --------------------*/




/* -------------------- PRICES --------------------*/





/* -------------------- RESSERVATION --------------------*/