@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



/* -------------------- APP --------------------*/





/* -------------------- CONTACT --------------------*/


.content-contact{
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 31, 30);
  color: antiquewhite;
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
}

.content-contact a {
  text-decoration: none;
  color: grey;
}

.content-contact > a :hover {
  color: antiquewhite;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-size: 0.4em;
  margin-top: 15%;

}

.contact-school{
  text-align: center;
}

.contact-school > ul li {
  list-style-type:none;
}

.contact-author {
  text-align: center;
}

.contact-author > ul li{
  list-style-type:none;
}


/* -------------------- ARTIST --------------------*/





/* -------------------- HOME --------------------*/




/* -------------------- PRICES --------------------*/





/* -------------------- RESSERVATION --------------------*/